:root {
    --button-color: rgb(85, 5, 85);
    --backgroun-color: rgb(249, 238, 252);
    --heading-font-family: 'Playfair Display', serif;
    --secondary-font-family: 'Poppins', sans-serif;
}
body {
    font-family: var(--secondary-font-family);
}
.portfolio {
    background: var (--backgroun-color);
    text-align: center;
    padding: 60px 0;
}
.about {
    padding: 60px 0;  
}
.portfolio h1 {
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 96px;
}
.about h1{
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 56px;
    line-height: 80px;
}

.portfolio p {
    font-family: var(--secondary-font-family);
    font-size: 36px;
    font-weight: bold;
}

.portfolio h2 {
    font-family: var(--secondary-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 2;  
}
footer h4 {
    font-size: 36px;
    font-family: var(--heading-font-family);
}
.about h2 {
    font-family: var(--secondary-font-family);
    font-size: 18px;
    
}
.about h3 {
    font-family: var(--secondary-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;  
    text-align: center;
}
.about p {
    font-family: var(--secondary-font-family);
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5; 
    text-align: center; 
    }
.btn-branding {
    color: white;
    background: var(--button-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.second-button {
    color: var(--button-color); 
    background: white;
    border: 1px solid var(--button-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 20px;
    }
    .project {
        font-size: 16px;
        line-height: 30px;
    }
    nav {
        padding: 20px 0;
    }
    .logo {
        max-height: 30px;
    }
    nav ul {
        margin: 0;
        padding: 0;
    }
    nav li {
        display: inline;
        list-style: none;
        line-height: 40px;
        margin-left: 15px;
    }
    nav a {
        font-size: 12px;
        text-decoration: none;
        color:black;
        
    }
    nav a:hover {
        color: var(--button-color)
    }
nav li.active a {
    font-weight: bold;

    }
    
    .img-project {
        padding: 40px 60px;
        background: var(--backgroun-color);
        border-radius: 4px;
    }
    .text-about {
        margin: 20px 30px;
    }
    .text-description {
        padding: 60px;
    }
    footer {
        margin: 60px 0;
    }
    footer .contact-box {
        background: var(--backgroun-color);
        padding: 30px 60px;
        margin: 30px 60px;

    }
    footer a{
        text-decoration: none;
        color: black; 
    }
    footer .email-link {
        display: flex;
        justify-content: center;
        
        font-size: 24px;
        padding: 20px 0;
    }
    footer .social-links a {
        margin: 0 20px;
        color: var(--button-color);
        padding: 10px 14px;
        border-radius: 50%;
        background: var(--backgroun-color);
        font-size: 18px;
    }
    @media (max-width: 900px) {
        .portfolio {
            padding: 60px 20px;
        }
        .about {
            text-align: center;
            padding: 0;
        }
        .portfolio h1 {
            font-size: 44px;
        }
        h2 {
            font-size: 36px;
        }
        
        .text-description {
            padding: 0;
            text-align: center;
        }
        
    }
    