:root {
    --button-color: rgb(85, 5, 85);
    --backgroun-color: rgb(249, 238, 252);
    --heading-font-family: 'Playfair Display', serif;
    --secondary-font-family: 'Poppins', sans-serif;
}
body {
    font-family: var(--secondary-font-family);
}
.portfolio {
    background: var (--backgroun-color);
    text-align: center;
    padding: 160px 0;
}
.about {
    padding: 160px 0;  
}
.portfolio h1 {
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 96px;
}
.about h1{
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 56px;
    line-height: 80px;
}

.portfolio p {
    font-family: var(--secondary-font-family);
    font-size: 36px;
    font-weight: bold;
}

.portfolio h2 {
    font-family: var(--secondary-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 2;  
}
.about h2 {
    font-family: var(--secondary-font-family);
    font-size: 18px;
    
}
.btn-branding {
    color: white;
    background: var(--button-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.second-button {
    color: var(--button-color); 
    background: white;
    border: 1px solid var(--button-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 20px;
    }
    .project {
        font-size: 16px;
        line-height: 30px;
    }
    .img-project {
        padding: 40px 60px;
        background: var(--backgroun-color);
        border-radius: 4px;
    }
    .text-about {
        margin: 20px 30px;
    }
    .text-description {
        padding: 60px;
    }
    @media (max-width: 900px) {
        .portfolio {
            padding: 80px 20px;
        }
        .about {
            text-align: center;
            padding: 0;
        }
        .portfolio h1 {
            font-size: 44px;
        }
        h2 {
            font-size: 36px;
        }
        .text-description {
            padding: 0;
            text-align: center;
        }
    }